.coverage
*.db
.pytest_cache/
.env
__pycache__/
*.py[cod]
venv/
instance/

# android icin
DeutschifyApp/.gradle/
DeutschifyApp/build/
DeutschifyApp/app/build/
DeutschifyApp/local.properties
DeutschifyApp/.idea/

*.log

.postman/
postman/